In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('options.csv')
df.head()

,Unnamed: 0,Item,Count,Correction,Unnamed: 4
0,3332,0.05ml of 1:100,1,NaN,NaN
1,3479,0.18% ns + 4% dextrose + 20mmol kcl,1,NaN,NaN
2,4518,0.25ml im adrenaline,1,NaN,NaN
3,4503,0.25ml iv adrenaline,1,NaN,NaN
4,4506,0.25ml po adrenaline,1,NaN,NaN

In [8]:
df['Correction'] = df.apply(lambda row: row['Item'] if pd.isnull(row['Correction']) else row['Correction'], axis=1)
df.head()

,Unnamed: 0,Item,Count,Correction,Unnamed: 4
0,3332,0.05ml of 1:100,1,0.05ml of 1:100,NaN
1,3479,0.18% ns + 4% dextrose + 20mmol kcl,1,0.18% ns + 4% dextrose + 20mmol kcl,NaN
2,4518,0.25ml im adrenaline,1,0.25ml im adrenaline,NaN
3,4503,0.25ml iv adrenaline,1,0.25ml iv adrenaline,NaN
4,4506,0.25ml po adrenaline,1,0.25ml po adrenaline,NaN

In [9]:
df.to_csv('options.csv', index=False)

In [12]:
df.groupby(['Correction'])['Count'].sum().sort_values(ascending=False).head(40)

Correction
ct                                  54
cxr                                 40
mri                                 38
reassure                            34
ultrasound                          33
none                                25
antibiotics                         25
combined oral contraceptive pill    22
diazepam                            21
us abdomen                          20
ecg                                 20
iv fluids                           20
schizophrenia                       19
reassurance                         18
cognitive behavioral therapy        17
tuberculosis                        17
pulmonary embolism                  16
sarcoidosis                         16
lymphoma                            16
cushingâ€™s syndrome                  16
generalized anxiety disorder        15
blood culture                       15
colonoscopy                         15
thryroid function test              15
subarachnoid hemorrhage             14
bipolar affective disorder          14
mri brain                           14
aspirin                             14
immune thrombocytopenic purpura     14
ct brain                            14
haloperidol                         13
esophageal carcinoma                13
abdominal us                        13
ct head                             13
arterial blood gas                  13
complete blood count                13
supraventricular tachycardia        13
liver function test                 13
ectopic pregnancy                   13
erythrocyte sedimentation rate      12
Name: Count, dtype: int64

In [ ]:
df.to_csv('topics.csv', index=False)