In [1]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv('options.csv')
df.head()

,Unnamed: 0,Item,Count,Correction,Unnamed: 4
0,3332,0.05ml of 1:100,1,0.05ml of 1:100,NaN
1,3479,0.18% ns + 4% dextrose + 20mmol kcl,1,0.18% ns + 4% dextrose + 20mmol kcl,NaN
2,4518,0.25ml im adrenaline,1,0.25ml im adrenaline,NaN
3,4503,0.25ml iv adrenaline,1,0.25ml iv adrenaline,NaN
4,4506,0.25ml po adrenaline,1,0.25ml po adrenaline,NaN

In [17]:
df['Correction'] = df.apply(lambda row: row['Item'] if pd.isnull(row['Correction']) else row['Correction'], axis=1)
df.head()

,Unnamed: 0,Item,Count,Correction,Unnamed: 4
0,3332,0.05ml of 1:100,1,0.05ml of 1:100,NaN
1,3479,0.18% ns + 4% dextrose + 20mmol kcl,1,0.18% ns + 4% dextrose + 20mmol kcl,NaN
2,4518,0.25ml im adrenaline,1,0.25ml im adrenaline,NaN
3,4503,0.25ml iv adrenaline,1,0.25ml iv adrenaline,NaN
4,4506,0.25ml po adrenaline,1,0.25ml po adrenaline,NaN

In [9]:
df.to_csv('options.csv', index=False)

In [25]:
df=df.groupby(['Correction'])['Count'].sum().sort_values(ascending=False).reset_index()

In [20]:
df.to_csv('topics.csv', index=False)